################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/WinTacho/FileContentIndex/3312941b-bd5b-4dee-b10d-5c28ef8bbe8f.vsidx
*.vsidx
